.upload{
    margin-bottom: 30px;
}

.profile_image{
    margin-bottom: 10px;
}

.user{
    color: black;
    font-weight: bold;
    margin-left: 30px;
}

.caption{
    margin-top: 20px;
}

.iconns{
    font-size: 30px;
    color: black;
}

.viewall{
    color:darkslategray;
}

.suggestions{
    color: #0077b6;
    font-weight: bold;
    margin-bottom: 10px;
}

.suggestions-title{
    color: #6b705c;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.post{
    margin-top: 20px;
    margin-bottom: 10px;
}

.username{
    font-weight: bold;
    margin-right: 10px;
    font-size: 30px;
}

.profiles{
    margin-bottom: 10px;
}

.posts{
    margin-right: 10px;
}

.logo{
    margin-top: 0%;
    margin-right: 250px;
}

.cloudinary{
    width: 480px;
    height: 240px;
}

@media only screen and (max-width:1000px) {
    #searchform, .acount{
        display: none;
    }
    .instagramm{
        width: 320px;
        height: 220px;
    }
}

@media only screen and (max-width: 1266px) and (min-width: 1001px){
    .pictures{
        display: none;
    }
}




