

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <h1 class="logo"><a href="/"><img src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" alt="" style="width:35px"></a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" alt="" style="width:135px"></h1>
      </div>
      
      
      <!-- Adding a search form  -->
      <div class="">
        <div class="col-sm-4 col-md-4 navbar-center">
  
          <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}" >
            <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
           <i class="spinner "></i>
          </form>
        </div>

        <span class="nav navbar-nav navbar-center">
          
          <a href="{%url 'homePage'%}"><span class="glyphicon glyphicon-home"></span></a>
        </span>

        <div class=" nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
    
            
            <span>
              <ul>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-user"></span> User 
                    </button>
                            <span class="caret"></span>
                        </a>
                  <ul class="dropdown-menu" role="menu">
                    
                    <li>
                      <a href="{% url 'profile' user.username %}">Profile</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </span>
                
    
          {% else %}
          
            <a class='btn btn-default' href="/accounts/login">Login</a>
          
  
          {% endif %}
        </div>
        
      </div>
  
     
    </div>
  </nav>